<div class="row px-2 py-4" style="background-color: white;">
    <div class="col-12 col-lg-5">
        <img [src]="banner" width="100%" height="100%" alt="post image">
    </div>

    <div class="col-12 col-lg-7 d-flex flex-column justify-content-between">
        <h1>{{ titulo }}</h1>
        <div class="line"></div>
        <h6>{{ resumo }}</h6>
        
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex align-items-center icon">
                <i class="bi bi-box-arrow-in-down-right text-primary mr-1"></i>
                <p class="m-0">Por {{ autor }} - {{ dataPost | date: 'dd/MM/yyyy' }}</p>
            </div>

            <app-social-media-container></app-social-media-container>
            
            <button #button type="button" class="btn btn-light px-4" (mouseenter)="onMouseHover(button)" (mouseleave) ="onMouseLeave(button)">
                <i class="bi bi-plus-circle"></i> Ver mais
            </button>
        </div>
    </div>
</div>
