#sideImgContainer {
    div {
        z-index: -1;
    }
    img {
        margin-left: 10rem;
        border: 10px solid white;
        border-radius: 5px;
        height: 600px;
        max-width: 400px;
    }
}

#textSection {
    max-width: 500px;
}

@media (max-width: 742px) {
    #container2 {
        display:block;
        #containerText {
            margin-left: auto;
            margin-right: auto;
        }
        h5 {
            font-size: 1rem;
            width: 75%;
        }
    }
}
