<img class="img-fluid" src="/assets/home/quemSomos/BannerInicial.png" alt="">

<div class="container" style="background-color: #f7f3ec;">

    <h3 class="mt-5" id="title">Quem Somos</h3>

    <hr width="80%">

    <div class="container">

        <h4 class="mt-4" style="font: normal normal bold 15px/20px Open Sans;
        color: #37639E; margin-left: 10%;">QUEM SOMOS, O QUE FAZEMOS, COMO FAZEMOS</h4>

        <p class="mt-4">
            O Instituto Gartrell, é uma empresa brasileira com endereço fixo em Goiânia/GO,
            voltada exclusivamente para a saúde, educação e cidadania, com serviços para todas
            as faixas etárias nas áreas de psiquiatria, psicologia, neuropsicologia, no atual
            momento e que pretende também em médio prazo, incluir os serviços de psicopedagogia
            fonoaudiologia, terapia ocupacional e outros que fazem interface como o nosso segmento
            de trabalho. Atua também com consultoria em educação e desenvolve ações e atividades
            psicoeducativas, visando a disseminação do conhecimento científico e dos valores éticos
            universais que promovem a saúde, o bem-estar geral e o desenvolvimento pleno das pessoas.</p>

        <p class="mt-4">
            Orienta-se, preferencialmente, pela abordagem cognitiva comportamental, mas,
            considera a visão integradora das diferentes abordagens da psicologia. Seus
            profissionais são comprometidos com a excelência na formação teórica, técnica
            e vivencial visando o qualificado atendimento de seus clientes, sob os fundamentos
            da ética e do sigilo profissional. O conceito e o fundamento essencial do Instituto
            Gartrell é: atuar preventivamente junto às pessoas e a serviço delas. Neste
            sentido, seu portfólio de serviços apresenta uma breve descrição de suas diversas
            modalidades de atendimento clínico, bem como de suas atividades sócio educativas.
            Busca assegurar-se de que o trabalho realizado com seus clientes os conduza a
            resultados pessoais tangíveis, a partir dos alvos que estabelecem para com as suas
            demandas. Isso faz, por meio dos marcadores que evidenciam seu crescimento pessoal.
            Dentre os diversos, alguns importantes a se destacar são:

        </p>

        <li>
            Adoção de uma mentalidade de vida focada na saúde e não na doença, mediante o
            cultivo de hábitos saudáveis, tais como: alimentação adequada, sono qualificado,
            atividade física regular.
        </li>

        <li>

            Habilitação de possíveis dificuldades e inabilidades e ampliação de suas
            potencialidades, talentos e dons;

        </li>

        <li>
            Habilidade intra e interpessoal que lhes proporcionem convívio saudável consigo
            mesmos e com as pessoas de seus contextos imediatos;

        </li>

        <li>

            Organização temporo-espacial, mediante a assertividade em suas ações e tomadas de decisões;

        </li>

        <li>

            Postura autônoma e sábia no exercício de seus diversos papéis pessoais, sociais e
            profissionais, confessionais, etc;

        </li>

        <li>
            Cultivo dos nobres valores universais para o exercício da cidadania, através da ética
            nas pequenas coisas, no plano pessoal e coletivo, por considerarmos ser esta a mais
            assertiva maneira de cooperar para a construção e reconstrução do nosso país e da nossa
            sociedade.
        </li>

        <li>
            Organização do seu projeto de vida, com plano de ação mensurável; Interessa,
            portanto, ao Instituto Gartrell que seus clientes cultivem como princípio
            permanente, uma mentalidade de vida saudável e propositiva, na medida em que
            investem em seu desenvolvimento pessoal. Tarefa esta, inspiradora, expressa no
            slogan do Instituto Gartrell: INTEGRAÇÃO DO SER, SABER, FAZER E CONVIVER.
        </li>

        <h4 class="mt-4" style="font: normal normal bold 15px/20px Open Sans;
        color: #37639E; margin-left: 10%;">O QUE FAZEMOS</h4>

        <p>Buscamos servi-las no âmbito da saúde, educação e cidadania.</p>

        <h4 class="mt-4" style="font: normal normal bold 15px/20px Open Sans;
        color: #37639E; margin-left: 10%;">O QUE FAZEMOS</h4>

        <p>
            Consideramos seu ser total na saudável e plena integração do seu ser, saber, fazer e
            conviver.
        </p>

        <h4 class="mt-4" style="font: normal normal bold 15px/20px Open Sans;
        color: #37639E; margin-left: 10%;">COMO FAZEMOS</h4>

        <p>Consideramos seu ser total na saudável e plena integração do seu ser, saber, fazer e conviver.</p>


        <h4 class="mt-4" style="font: normal normal bold 15px/20px Open Sans;
        color: #37639E; margin-left: 10%;">DECLARAÇÃO DE FÉ</h4>

        <p>
            O Instituto Gartrell, valoriza a vida e o ser humano, destacando sua singularidade,
            espontaneidade, expressividade, nas suas diversas dimensões em todas as etapas de seu
            desenvolvimento global. Sua concepção de saúde e bem-estar, de adoecimento, de
            investigação clínica diagnóstica e habilitação multimodal está fundamentada na ciência.
            Neste sentido, estabelece como pilares de seu trabalho:
        </p>


        <p>
            1. Atuar com base na ciência, primando pela excelência na qualificação teórica,
            técnica e prática de sua equipe multiprofissional.
        </p>

        <p>
            2. Observar e cumprir as leis e a constituição que rege e governa a nossa nação,
            zelando pela respeitosa relação com os órgãos federais, estaduais e municipais com os
            quais mantém vínculo, nos limites da natureza de seus serviços.
        </p>

        <p>
            3. Honrar sua identidade funcional, por meio da zelosa observância dos códigos de ética
            e de conduta profissional (Conselhos federais e regionais).
        </p>
    </div>

</div>
<div id="container2">
    <div class="d-flex">

    <div id="retangulo"></div>

    <div class="card mt-5">
        <img src="/assets/home/quemSomos/Imgcard.png" class="img-fluid">
    </div>

 </div>
    <div class="container mt-5" id="containerText">

        <p><strong>Missão</strong></p>
        <h5>
            “Promover saúde, educação e cidadania por meio do desenvolvimento da pessoa em sua
            capacidade de ser, saber, fazer e conviver.”
        </h5>



        <p><strong>Visão</strong></p>
        <h5>
            “Ser referência na sociedade em seus serviços e projetos voltados para o desenvolvimento humano.”
        </h5>


        <p><strong>Valores</strong></p>
        <h5>
            “Empatia, ética, sigilo profissional, atendimento multidisciplinar e qualificado.”
        </h5>


    </div>

</div>

<br>
<br>
<app-contato-form></app-contato-form>

<br>
