header {
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

@media (max-width: 960px) {
    header {
        height: 400px;
    }
}

@media (max-width: 700px) {
    header {
        height: 300px;
    }
}

@media (max-width: 500px) {
    header {
        height: 200px;
    }
}