<app-header-banner [imgBannerUrl]="'assets/banners/equipe_banner.jpg'"></app-header-banner>

<section #equipe id="equipe" class="container bg-light mt-4">
    <app-sub-header [title]="'Equipe'"></app-sub-header>
   
    <h4 class="mb-n4 mb-md-n5">INSTITUTO GARTRELL</h4>
    <span class="letraForma text-wrap">GARTRELL</span>


    <article class="d-flex justify-content-center align-items-center flex-column mb-2">
        <div class="row">
            <div class="col">
                <ng-container *ngFor="let membro of internos" [ngTemplateOutlet]="Membro"  [ngTemplateOutletContext]="{membro: membro}"></ng-container>
            </div>
        </div>
    </article>
</section>

<!-- PARCEIROS E COLABORADORES -->
<section #parceiros id="parceiros" class="container">
    <h5 class="mb-n4 mb-md-n5">PARCEIROS E COLABORADORES</h5>
    <span class="letraForma">PARCEIROS</span>

    <article class="d-flex justify-content-center align-items-center flex-column mb-2">
        <div class="row">
            <div class="col">
                <ng-container *ngFor="let membro of colaboradores" [ngTemplateOutlet]="Membro"  [ngTemplateOutletContext]="{membro: membro}"></ng-container>
            </div>
        </div>
    </article>
</section>

<ng-template #Membro let-membro="membro">
    <div class="member-container">
        <app-self-image [url]="'assets/home/equipe/' + membro.img"></app-self-image>
        <div class="d-flex justify-content-center flex-column">
            <h6>{{ membro.name }}</h6>
            <p class="text-secondary">{{ membro.cargo }}{{ membro.cod? ' ' + membro.cod : '' }}</p>
            <p>{{ membro.bio }}</p> 
        </div>
    </div>
    
    <div class="line mt-1 mb-4 w-100"></div>
</ng-template>