img {
    max-height: 400px;
    width: 100%;
}

.section-title {
    color: white;
    background-color: rgb(90, 90, 90);
}

article.secondary {
    background-color: rgb(246, 246, 246);
}

article.te {
    background-color: gray;
}



div.member-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
