<app-header-banner [imgBannerUrl]="evento.thumbnail"></app-header-banner>
<div class="container">
    <app-sub-header [title]="evento.titulo" class="w-100"></app-sub-header>
    <!-- <p class="text-justify">{{ evento.conteudo }}</p> -->
    <div id="eventContent"></div>
    <ng-container *ngIf="evento.palestrantes.length">
        <app-sub-header title="Palestrantes" class="w-100"></app-sub-header>
        <ng-container [ngTemplateOutlet]="Palestrante" [ngTemplateOutletContext]="{
            palestrante: evento.palestrantes[selectedPalestrante - 1]
        }"></ng-container>
    </ng-container>
    <app-paginator [length]="evento.palestrantes.length" (changePage)="onChangePalestrante($event)"></app-paginator>
</div>

<div class="container bg-light pb-4">
    <app-sub-header title="Inscreva-se" class="w-100"></app-sub-header>
    <app-register-event-form></app-register-event-form>
</div>

<ng-template #Palestrante let-palestrante="palestrante">
    <div class="palestrante-container">
        <app-self-image [url]="palestrante.fotografia" class="align-self-center align-self-lg-start"></app-self-image>
        <div>
            <h2 class="text-dark">{{ palestrante.nome }}</h2>
            <h6 class="text-secondary">{{ palestrante.cargo }}</h6>
            <p>{{ palestrante.texto_apresentacao }}</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center data-container">
            <div>
                <h2 class="text-dark mb-n4">DATA:</h2>
                <h2 class="text-secondary m-0">{{ palestrante.data_apresentacao }}</h2>
            </div>
        </div>
    </div>
</ng-template>