<app-header-banner [imgBannerUrl]="bannerImg"></app-header-banner>

<div class="container bg-light mt-2">
  <app-sub-header [title]="title"></app-sub-header>
  <app-post-details *ngIf="lastPost" [post]="lastPost"></app-post-details>
</div>

<div class="d-flex flex-column flex-lg-row mt-4">
  <!-- <app-side-img-container [imgUrl]="'/assets/institucional/quemSomos/Imgcard.png'"></app-side-img-container> -->

  <!-- <div class="container-sm ml-lg-5 mt-1 w-100 w-lg-50 d-flex flex-column justify-content-around">
    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ut quam at nunc finibus luctus. Aliquam dapibus commodo dolor, sit amet mollis quam mattis nec. Fusce nec nunc felis. In in placerat augue. Suspendisse potenti. Sed bibendum nunc maximus maximus aliquet. Ut rutrum sapien est, sit amet varius ex iaculis at. Fusce in fringilla ipsum. Morbi sit amet sapien posuere, scelerisque velit posuere, dictum nulla. Nunc non tellus nec elit interdum luctus.</p>
    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ut quam at nunc finibus luctus. Aliquam dapibus commodo dolor, sit amet mollis quam mattis nec. Fusce nec nunc felis. In in placerat augue. Suspendisse potenti. Sed bibendum nunc maximus maximus aliquet. Ut rutrum sapien est, sit amet varius ex iaculis at. Fusce in fringilla ipsum. Morbi sit amet sapien posuere, scelerisque velit posuere, dictum nulla. Nunc non tellus nec elit interdum luctus.</p>
    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ut quam at nunc finibus luctus. Aliquam dapibus commodo dolor, sit amet mollis quam mattis nec. Fusce nec nunc felis. In in placerat augue. Suspendisse potenti. Sed bibendum nunc maximus maximus aliquet. Ut rutrum sapien est, sit amet varius ex iaculis at. Fusce in fringilla ipsum. Morbi sit amet sapien posuere, scelerisque velit posuere, dictum nulla. Nunc non tellus nec elit interdum luctus.</p>
    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ut quam at nunc finibus luctus. Aliquam dapibus commodo dolor, sit amet mollis quam mattis nec. Fusce nec nunc felis. In in placerat augue. Suspendisse potenti. Sed bibendum nunc maximus maximus aliquet. Ut rutrum sapien est, sit amet varius ex iaculis at. Fusce in fringilla ipsum. Morbi sit amet sapien posuere, scelerisque velit posuere, dictum nulla. Nunc non tellus nec elit interdum luctus.</p>
  </div> -->
</div>

<div *ngIf="lastPost" class="container bg-light mt-5">
  <app-sub-header title="Veja mais"></app-sub-header>
  <app-post *ngFor="let post of posts" [post]="post" [callFunction]="callFunction(post)"></app-post>
  
  <app-paginator [length]="qtdPages" (changePage)="changePage($event)"></app-paginator>
</div>