<div class="contentImage">
    <img src="assets/home/banner.jpg" width="100%" height="100%" alt="Image banner of home" />
</div>

<div class="container bgContainer" style="margin-top: 20px;">
    <app-sub-header title="{{this.title}}"></app-sub-header>
    <div class="d-flex flex-column">
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        <div class="d-flex">
            <i class="bi bi-arrow-up-right-square"></i>
            <span>Por Karina Queiroz - 02/01/2021</span>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-youtube"></i>
        </div>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
            at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
            as opposed to using 'Content here, content here', making it look like readable English. Many desktop
            publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
            'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
</div>
<div>
    <div class="caixaAzul d-flex align-items-center">
        <div class="contentInfo">
            <div class="row" style="height: 100%;">
                <div class="col-lg-4">
                    <div class="boxImage">
                        <img src="assets/home/banner.jpg" width="100%" height="100%">
                    </div>
                </div>
                <div class="col-lg-8">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                        anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                        Internet tend to repeat predefined chunks as necessary, making this the first true generator on
                        the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
                        sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum
                        is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container bgContainer" style="height: 50px;"></div>
<div class="container bgContainer" style="margin-top: 50px;">
    <app-sub-header title="Veja mais"></app-sub-header>
    <app-post></app-post>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">
              <i class="bi bi-chevron-left"></i>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="bi bi-chevron-right"></i>
            </a>
          </li>
        </ul>
      </nav> 
</div>