.contentImage {
    width: 100%;
    height: 200px;
}

.bgContainer {
    background-color: rgb(251, 251, 222);
}

.caixaAzul {
    height: 450px;
    width: 250px;
    background-color: var(--secondary);
}

.contentInfo {
    margin-left: 150px;
    position: absolute;
    width: 80%;
    height: 350px;
    background-color: white;
}

.boxImage {
    height: 100%;
    border: 10px solid white;
}