<app-header-banner [imgBannerUrl]="'assets/banners/terapia_online_banner.jpg'"></app-header-banner>

<div class="container pb-2 bg-light">
  <app-sub-header title="Consulte Conosco" class="w-100"></app-sub-header>
  
  <div *ngIf="!consultaOnlineService.equipe.length && !consultaOnlineService.parceiros.length" class="row px-4">
    <h3>Notificação ao público</h3>
    <p class="text-justify">Prezado (a) internauta, em breve você terá acesso à lista do Grupo de Profissionais Instituto Gartrell, com os seus serviços disponíveis à comunidade em diversas áreas da saúde mental, educação e afins. A mesma, permitirá que você em contato conosco, informando a sua demanda e o profissional desejado, que iremos de imediato repassar a esta o seu contato, para retorno em tempo hábil. Clique no link e deixe-nos a sua mensagem, que logo a retornaremos.</p>
  </div>

  <app-membro-consulta-online *ngFor="let membro of consultaOnlineService.equipe" [membro]="membro"></app-membro-consulta-online>
  <app-membro-consulta-online *ngFor="let membro of consultaOnlineService.parceiros" [membro]="membro"></app-membro-consulta-online>
</div>