<app-header-banner [imgBannerUrl]="'assets/banners/terapia_online_banner.jpg'"></app-header-banner>

<div class="container pb-2 bg-light">
  <app-sub-header title="Consulte Conosco" class="w-100"></app-sub-header>

  <div *ngFor="let prof of profissionais" class="row">
    <div class="col-12 col-lg-3 d-flex justify-content-center">
      <app-self-image [url]="prof.img"></app-self-image>
    </div>

    <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
      <h4>{{ prof.nome }}</h4>
      <h6 class="text-secondary">{{ prof.profissao }}</h6>
      <p>{{ prof.bio }}</p>
    </div>

    <div class="bar align-self-center d-none d-md-block"></div>

    <div class="col-5 col-lg-4 d-flex flex-column justify-content-center">
      <h5>Horário de Atendimento</h5>
      <h6 class="text-secondary font-weight-bolder">{{ prof.horarioDisponivel }}</h6>
    </div>

    <div class="line mt-1 mb-4 mx-3 w-100"></div>
  </div>

  <app-paginator></app-paginator>
</div>