<div class="contentImage">
  <img src="assets/home/banner.jpg" width="100%" height="100%" alt="Image banner of home" />
</div>

<div class="container pb-2 bg-light">
  <app-sub-header title="Terapia Online" class="w-100"></app-sub-header>

  <div *ngFor="let prof of profissionais" class="row">
    <div class="col-3">
      <app-self-image [url]="prof.img"></app-self-image>
    </div>

    <div class="col-4 d-flex flex-column">
      <h4>{{ prof.nome }}</h4>
      <h6 class="text-primary">{{ prof.profissao }}</h6>
      <p>{{ prof.bio }}</p>
    </div>

    <div class="bar align-self-center"></div>

    <div class="col-4 d-flex flex-column justify-content-center">
      <h5>Horário de Atendimento</h5>
      <h6 class="text-primary">{{ prof.horarioDisponivel }}</h6>
    </div>

    <div class="line mt-1 mb-4 mx-3 w-100"></div>
  </div>

  <app-paginator></app-paginator>
</div>