img {
    max-height: 400px;
    width: 100%;
}

div.member-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#noticiasContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 25px;
}

#stayInside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.stayInsideComponent {
    width: 300px;
    img {
        width: 60px;
    }
}

@media (max-width: 991px) {
    #noticiasContainer {
        justify-items: center;
    }
}