<app-header-banner [imgBannerUrl]="'assets/cerebro.jpg'"></app-header-banner>

<section class="container">
    <article class="d-flex justify-content-center align-items-center flex-column mb-2 px-4 pb-2 bg-light">
        <app-sub-header title="Quem Somos" class="w-100"></app-sub-header>
        <p>O Instituto Gartrell, é uma empresa brasileira com endereço fixo em Goiânia/GO,
            voltada exclusivamente para a saúde, educação e cidadania, com serviços para todas
            as faixas etárias nas áreas de psiquiatria, psicologia, neuropsicologia, no atual
            momento e que pretende também em médio prazo, incluir os serviços de psicopedagogia
            fonoaudiologia, terapia ocupacional e outros que fazem interface como o nosso segmento
            de trabalho. Atua também com consultoria em educação e desenvolve ações e atividades
            psicoeducativas, visando a disseminação do conhecimento científico e dos valores éticos
            universais que promovem a saúde, o bem-estar geral e o desenvolvimento pleno das pessoas.</p>

        <a href="institucional/quem-somos" type="button" class="btn btn-light">
            <i class="bi bi-plus-circle"></i> Ver mais
        </a>
    </article>

    <article class="d-flex justify-content-center align-items-center flex-column mb-2 pb-2">
        <app-sub-header [title]="'Serviços'" class="w-100"></app-sub-header>
        <div class="d-flex justify-content-center flex-wrap">
            <a *ngFor="let cat of servicosService.servicos" [href]="'servicos/' + cat.id">
                <app-servico-circle [categoria]="cat"></app-servico-circle>
            </a>
        </div>
    </article>
</section>

<section>
    <div class="container">
        <app-sub-header [title]="'Nossa equipe'" class="w-100" style="padding-bottom: 0 !important;"></app-sub-header>
    </div>
    <div class="w-100 bg-dark py-4 mt-n4">
        <div class="container">
            <article class="d-flex justify-content-center align-items-center flex-column mb-2 pb-2">
                <div class="row">
                    <div class="col-2 col-md-1 d-none d-sm-flex align-items-center justify-content-center">
                        <button class="btn btn-light rounded-circle btn-team" (click)="previousMember()" [disabled]="selectedMember == 0">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                    </div>
                    <div class="col">
                        <ng-container [ngTemplateOutlet]="Membro"  [ngTemplateOutletContext]="{membro: equipe[selectedMember]}"></ng-container>
                    </div>
                    <div class="col-2 col-md-1 d-none d-sm-flex align-items-center justify-content-center">
                        <button class="btn btn-light rounded-circle btn-team" (click)="nextMember()" [disabled]="selectedMember == equipe.length - 1">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col d-flex justify-content-center">
                        <a href="institucional/equipe" class="btn btn-light rounded-pill">
                            <i class="bi bi-plus-circle"></i> Ver mais
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="container">
    <article class="d-flex justify-content-center align-items-center flex-column mb-2 px-4 pb-2 bg-light">
        <app-sub-header [title]="'Acontece'" class="w-100"></app-sub-header>
        <app-evento *ngFor="let event of aconteceService.eventos; let i = index" [evento]="event" [inverse]="i % 2 == 0"></app-evento>
    </article>

    <article class="d-flex justify-content-center align-items-center flex-column mb-2">
        <app-sub-header [title]="'Notícias'" class="w-100"></app-sub-header>
        <div id="noticiasContainer" class="w-100">
            <app-image-hover *ngFor="let noticia of noticias" [titulo]="noticia.titulo" [subTitulo]="noticia.subTitulo" [bgImg]="noticia.img"></app-image-hover>
        </div>
    </article>

    <article class="d-flex justify-content-center align-items-center flex-column mb-2 px-4 pb-2 bg-light">
        <app-sub-header [title]="'Reflexões'" class="w-100"></app-sub-header>
        <div class="w-100">
            <app-post *ngFor="let post of reflexoesService.reflexoes" class="mx-2"
                [titulo]="post.titulo" [resumo]="post.resumo" [autor]="post.autor" [dataPost]="post.dataPost" [banner]="post.banner" [callFunction]="viewReflection(post)" [categoria]="post.categoria"></app-post>
        </div>
    </article>

    <article class="d-flex justify-content-center align-items-center flex-column mb-2">
        <app-sub-header [title]="'Fique por Dentro'" class="w-100"></app-sub-header>
        <div id="stayInside">
            <ng-container [ngTemplateOutlet]="StayInSideCP"  [ngTemplateOutletContext]="{
                icone: 'assets/svg/saude_integral.svg',
                titulo: 'Saúde Integral',
                resumo: 'Lorem ipsumn dolor sit amet, consecutur adipiscing elit, lorem ipsumn dolor sit amet, consecutur.',
                link: 'fique-por-dentro/saude-integral'
            }"></ng-container>

            <ng-container [ngTemplateOutlet]="StayInSideCP"  [ngTemplateOutletContext]="{
                icone: 'assets/svg/desenvolvimento_humano.svg',
                titulo: 'Desenvolvimento Humano',
                resumo: 'Lorem ipsumn dolor sit amet, consecutur adipiscing elit, lorem ipsumn dolor sit amet, consecutur.',
                link: 'fique-por-dentro/desenvolvimento-humano'
            }"></ng-container>

            <ng-container [ngTemplateOutlet]="StayInSideCP"  [ngTemplateOutletContext]="{
                icone: 'assets/svg/sociedade.svg',
                titulo: 'Sociedade',
                resumo: 'Lorem ipsumn dolor sit amet, consecutur adipiscing elit, lorem ipsumn dolor sit amet, consecutur.',
                link: 'fique-por-dentro/sociedade'
            }"></ng-container>
        </div>
    </article>
</section>

<!-- Todos os templates utilizado obs: Podem virar componentes para serem reaproveitados -->
<ng-template #Membro let-membro="membro">
    <div class="member-container">
        <app-self-image [url]="membro.img? 'assets/home/equipe/' + membro.img : ''" class="mx-2 align-self-center" [sexo]="membro.sexo"></app-self-image>

        <div class="d-flex justify-content-center flex-column">
            <h6 class="text-light">{{ membro.name }}</h6>
            <p style="color: #00acec;">{{ membro.cargo? membro.cargo : '' }}{{ membro.cod? ' ' + membro.cod : '' }}</p>
            <p class="text-light">{{ membro.bio }}</p> 
        </div>
    </div>
</ng-template>

<ng-template #StayInSideCP let-icone="icone" let-titulo="titulo" let-resumo="resumo" let-link="link">
    <div class="d-flex flex-column align-items-center stayInsideComponent">
        <img [src]="icone" alt="sub section icon">
        <h5 class="text-center text-dark">{{ titulo }}</h5>
        <p class="text-center">{{ resumo }}</p>
        <a [href]="link" type="button" class="btn btn-light px-4 py-2">
            <i class="bi bi-plus-circle"></i> Ver mais
        </a>
    </div>
</ng-template>