.btn-team {
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
}

div.member-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#noticiasContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 25px;
}

#stayInside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px
}

.stayInsideComponent {
    width: 300px;
    img {
        width: 60px;
    }
}
@media (max-width: 1024px) {
    #stayInside {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    #noticiasContainer {
        justify-items: center;
    }
}

@media (max-width: 768px) {
    div.member-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}