<section class="container">
    <article class="mb-2">
        <img src="assets/home/banner.jpg" alt="Image banner of home" />
    </article>
    <article class="d-flex justify-content-center align-items-center flex-column mb-2 secondary">
        <ng-container [ngTemplateOutlet]="SessionHeader"  [ngTemplateOutletContext]="{title:'Identidade Nominal'}"></ng-container>
        <p>
            O Instituto Gartrell, tem esta identidade nominal como forma distinta de expressão gratidão, homenagear e honrar o casal de missionários americanos Rev. Ethelbert Hopkins Gartrell e Catherine Yates Gartrell (Sra. Sandy Gartrell) pelos valiosos serviços prestados no Brasil em várias regiões do país, nos anos de 1951 a 1982.
        </p>
        <a href="" type="button" class="btn">
            <i class="bi bi-plus-circle"></i> Ver mais
        </a>
    </article>

    <article class="d-flex justify-content-center align-items-center flex-column mb-2">
        <ng-container [ngTemplateOutlet]="SessionHeader"  [ngTemplateOutletContext]="{title:'serviços'}"></ng-container>
        <div class="d-flex justify-content-center flex-wrap">
            <app-servico-circle *ngFor="let cat of servicesCategory" [categoria]="cat"></app-servico-circle>
        </div>
    </article>

    <article class="d-flex justify-content-center align-items-center flex-column mb-2">
        <ng-container [ngTemplateOutlet]="SessionHeader"  [ngTemplateOutletContext]="{title:'Nossa equipe'}"></ng-container>
        <div class="row">
            <div class="col-1 d-flex align-items-center">
                <button class="btn btn-light  rounded-circle">
                    <i class="bi bi-chevron-left"></i>
                </button>
            </div>
            <div class="col">
                <ng-container *ngFor="let membro of equipe" [ngTemplateOutlet]="Membro"  [ngTemplateOutletContext]="{membro: membro}"></ng-container>
            </div>
            <div class="col-1 d-flex align-items-center">
                <button class="btn btn-light rounded-circle">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
        <button class="btn btn-light rounded-pill">
            <i class="bi bi-plus-circle"></i> Ver mais
        </button>
    </article>

    <article class="d-flex justify-content-center align-items-center flex-column mb-2">
        <ng-container [ngTemplateOutlet]="SessionHeader"  [ngTemplateOutletContext]="{title:'Acontece'}"></ng-container>
        <app-evento *ngFor="let event of eventos; let i = index" [evento]="event" [inverse]="i % 2 == 0"></app-evento>
    </article>
</section>

<ng-template #SessionHeader let-title="title">
    <div class="section-title d-inline-block px-4 py-2">{{ title }}</div>
    <div class="line mt-1 mb-4 w-75"></div>
</ng-template>

<ng-template #Self let-url="url">
    <div class="self-container d-inline-block">
        <img [src]="'assets/home/equipe/' + url" alt="Self de um membro da equipe"/>
    </div>
</ng-template>

<ng-template #Membro let-membro="membro">
    <div class="member-container">
        <app-self-image [url]="'assets/home/equipe/' + membro.img"></app-self-image>

        <div class="d-flex justify-content-center flex-column">
            <h6>{{ membro.name }}</h6>
            <p>{{ membro.cargo }}{{ membro.crp? ' - CRP ' + membro.crp : '' }}</p>
            <p>{{ membro.bio }}</p>
        </div>
    </div>
</ng-template>