<nav #navbar id="navbar" class="navbar navbar-expand-lg navbar-light">
  <div class="container p-0 d-flex justify-content-around">
    <div class="row w-100 justify-content-between align-items-center">
      <div class="col-1 d-none d-md-block">
        <a href="/home" class="">
          <img id="logo" src="assets/icones/logo.png" alt="Gartrell logo image">
        </a>
      </div>
  
      <div class="col col-sm-8 col-lg-6 d-flex justify-content-center">
        <label class="text-primary text-center"><b>Telefone:</b> (62) 3086-3600 | <b>Email:</b> institutogartrell@gmail.com</label>
      </div>
  
      <div class="col-2 d-none d-lg-block p-0">
        <div class="social-icons">
          <a class="social-icon social-icon--facebook" [href]="redesSociaisService.facebook" target="_blank">
            <i class="bi bi-facebook"></i>
            <div class="tooltip">Facebook</div>
          </a>
          <a class="social-icon social-icon--instagram" [href]="redesSociaisService.instagram" target="_blank">
            <i class="bi bi-instagram"></i>
            <div class="tooltip">Instagram</div>
          </a>
          <a class="social-icon social-icon--youtube" [href]="redesSociaisService.youtube" target="_blank">
            <i class="bi bi-youtube"></i>
            <div class="tooltip">Youtube</div>
          </a>
        </div>
      </div>
  
      <div class="col-4 col-md-3 col-lg-3 d-none d-sm-block align-items-end p-0">
        <div class="input-group w-100">
          <div class="input-group-prepend">
            <i class="input-group-text bi bi-search border-primary"></i>
          </div>
          <input class="form-control w-25 border-primary" type="search" placeholder="buscar">
        </div>
      </div>
    </div>
  </div>
</nav>

<!--Navbar baixo-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container p-0">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-between">
        <ng-container *ngFor="let item of menu">
          <ng-container [ngTemplateOutlet]="item.subMenus.length? NavItemComplex : NavItemSimple"
            [ngTemplateOutletContext]="{link:item}"></ng-container>
        </ng-container>
        <li class="nav-item">
          <button (click)="goToTerapiaOnline()" type="button" class="btn btn-light text-primary">
            <img src="assets/svg/terapia_online_icon.svg" alt="Icone do menu de terapia online" style="width: 30px;" /> CONSULTE CONOSCO
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #NavItemSimple let-link="link">
  <li class="nav-item">
    <a class="nav-link" [href]="link.link" style="font-weight: 500; font-size: 75%;">{{ link.name }}</a>
  </li>
</ng-template>

<ng-template #NavItemComplex let-link="link">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
      style="font-weight: 500; font-size: 75%;">
      {{ link.name }}
      <i class="bi bi-chevron-down" *ngIf="link.subMenus?.length"></i>
      
    </a>
    <ng-container [ngTemplateOutlet]="NavMenu" [ngTemplateOutletContext]="{subMenus:link.subMenus}"></ng-container>
  </li>
</ng-template>

<ng-template #NavItemDropdown let-link="link">
  <li>
    <a class="dropdown-item d-flex justify-content-between" [href]="link.link">
      <div>{{ link.name }}</div>
      <div><i class="bi bi-chevron-right" *ngIf="link.subMenus?.length"></i></div>
    </a>
    <ng-container *ngIf="link.subMenus?.length">
      <ng-container [ngTemplateOutlet]="NavSubMenu" [ngTemplateOutletContext]="{subMenus:link.subMenus}"></ng-container>
    </ng-container>
  </li>
</ng-template>

<ng-template #NavMenu let-subMenus="subMenus">
  <ul class="dropdown-menu">
    <ng-container *ngFor="let item of subMenus">
      <ng-container [ngTemplateOutlet]="NavItemDropdown" [ngTemplateOutletContext]="{link:item}"></ng-container>
    </ng-container>
  </ul>
</ng-template>

<ng-template #NavSubMenu let-subMenus="subMenus">
  <ul class="submenu dropdown-menu">
    <ng-container *ngFor="let item of subMenus">
      <ng-container [ngTemplateOutlet]="NavItemDropdown" [ngTemplateOutletContext]="{link:item}"></ng-container>
    </ng-container>
  </ul>
</ng-template>