<div class="container p-0">
  <img src="assets/home/banner.jpg" width="100%" height="100%" alt="banner img">
</div>

<div class="container d-flex justify-content-center align-items-center flex-column mb-2 bg-light" style="margin-top: 20px;">
  <app-sub-header [title]="'Notícias'" class="w-100"></app-sub-header>
  
  <div class="w-100 px-2 mb-2">
    <app-post *ngFor="let post of noticias"
      [titulo]="post.titulo" [resumo]="post.resumo" [autor]="post.autor" [dataPost]="post.dataPost" [banner]="post.banner"></app-post>
  </div>
  
  <app-paginator></app-paginator>
</div>

<app-contato-form></app-contato-form>