<app-header-banner [imgBannerUrl]="'assets/banners/noticias_banner.jpg'"></app-header-banner>

<div class="container d-flex justify-content-center align-items-center flex-column my-4 bg-light">
  <app-sub-header title="Notícias" class="w-100"></app-sub-header>
  <ng-container *ngIf="noticiasService.selectedNoticia">
    <app-post-details [post]="noticiasService.selectedNoticia"></app-post-details>
  </ng-container>
  <ng-container *ngIf="noticiasService.selectedNoticia">
    <app-sub-header title="Mais Notícias" class="w-100"></app-sub-header>
  </ng-container>
  <div class="w-100 px-2 mb-2">
    <app-post *ngFor="let post of filteredList" [post]="post" [callFunction]="createFunction(post)"></app-post>
  </div>
  <app-paginator [length]="pageNumber" (changePage)="onChangePage($event)"></app-paginator>
</div>