.img-container {
    position: relative;
    height: 300px;
    max-width: 550px;
    background-size: 120% !important;
    background-position: center !important;
    transition-duration: 500ms;

    div.hover-content {
        div.pl-1 {
            border-left: 5px solid var(--primary);
        }
        position: absolute;
        bottom: 0px;
        left: 0px;

        background-image: linear-gradient(transparent, black);
    }

    div.bar {
        width: 5px;
    }
}

.img-container:hover {
    background-size: 170% !important;
}

@media (max-width: 991px) {
    .img-container {
        min-width: 500px;
    }
}

@media (max-width: 530px) {
    .img-container {
        min-width: 350px;
        height: 200px;
    }
}