<app-header-banner [imgBannerUrl]="'assets/banners/reflexoes_banner.jpg'"></app-header-banner>

<div class="container bg-light d-flex justify-content-center align-items-center flex-column my-4">
  <app-sub-header [title]="'Reflexões'" class="w-100"></app-sub-header>
  <ng-container *ngIf="reflexoesService.selectedReflection">
    <app-post-details [post]="reflexoesService.selectedReflection"></app-post-details>
  </ng-container>
  <ng-container *ngIf="reflexoesService.selectedReflection">
    <app-sub-header [title]="'Mais Reflexões'" class="w-100"></app-sub-header>
  </ng-container>
  <app-post *ngFor="let post of reflexoesService.reflexoes" class="mx-2" [post]="post" [callFunction]="createFunction(post)"></app-post>
  <app-paginator [length]="qtdPages" (changePage)="onChangePage($event)"></app-paginator>
</div>