<footer class="bg-primary">
    <div class="container" style="padding-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex flex-column text-light">
                        <h2>Links Úteis</h2>
                        <p>Artmed Editora</p>
                        <p>Associação Brasileira de Medicina e Psicologia Comportamental</p>
                        <p>Associação Brasileira de Psicologia Escolar e Educacional (ABRAPEE)</p>
                        <p>Associação Brasileira de Psicologia Organizacional e do Trabalho</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex flex-column text-light">
                        <h2>Contato</h2>
                        <p>(62) 3086-3600 institutogartrell@gmail.com</p>
                        <p>Rua 7-A n° 165 Qd 11-A Lt 18 - Edifício Olympus Plaza Setor Aeroporto - Goiânia - GO - 74075-230</p>
                        <p>Aberto de segunda à sexta: 08:00 - 18:00</p>
                        <p>Instituto Gartrell LTDA. CNPJ: 38.417.078/0001-89</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line"></div>

    <div class="container" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="row text-light">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="row">
                    <div class="col-2 d-flex align-items-center">
                        <img id="logo" src="assets/svg/LOGO_GARTRELL_BRANCA.svg" alt="Gartrell logo image" />
                    </div>
                    <div class="col-10 d-flex align-items-center">
                        <span class="fw-lighter">&#169;Copyright, Instituto Gartrell | Política de Privacidade</span>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-2 d-flex align-items-center">
                        <img id="logo" src="assets/svg/LOGO_LEWIS_BRANCA.svg" alt="Gartrell logo image">
                    </div>
                    <div class="col-10 col-md-6 d-flex align-items-center">
                        <span>Desenvolvido por Lewis Brand - Todos direitos reservados.</span>
                    </div>
                    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                        <a [href]="backToTop()" class="link-light text-light text-nowrap">
                            Voltar ao topo <i class="bi bi-caret-up-fill"></i>
                        </a>
                    </div>
                </div>               
            </div>
        </div>
    </div>

</footer>
