.caixa{
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: #37639e;
    box-shadow: 2px 2px 2px black;
    width: 100px;
}

.input{
    padding-left: 8%;
    padding-right: 8%;
}