/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */


$theme-colors: (
  "primary": #37639E,
  "dark": #223854
);

$navbar-dark-color: white !default;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#logo {
    max-width: 80px;
}

div.line {
    height: 1px;
    width: 100%;
    background-color: #DCDCDC;
}

.fw-lighter {
    font-weight: 100;
}

.border-5 {
    border-width: 5px !important;
}
