.servicos {
    width: 200px;
    text-align: center;
    .circle {
        width: 100px;
        height: 100px;
        border: 4px solid #cdcdcd;
        border-radius: 50px;
        img {
            width: 80px;
        }
    }
    h6 {
        color: #223854 !important;
    }
}

.servicos:hover {
    .circle {
        border-color: var(--secondary);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}