<div class="contentImage">
    <img src="assets/institucional/cerebro.jpg" width="100%" height="100%" alt="Image banner of home" />
</div>

<div class="container bg-light mt-4">
    <app-sub-header title="Identidade Nominal"></app-sub-header>
    <img class="img" src="assets/home/banner.jpg" width="500px" height="350px">
    <p>O casal, Rev. Ethelbert Hopkins Gartrell e sua esposa Catherine Yates Gartrell (Sandy), missionários da Missão Oeste Americana, ligada à Igreja Presbiteriana Reformada dos Estados Unidos, exerceram seu ministério pastoral no Brasil, entre os anos de 1948 a 1982, pastoreando e supervisionando igrejas presbiterianas reformadas brasileiras, nas regiões Sudeste, Centro Oeste e Nordeste do país.</p>
    <p>Dois de seus cinco filhos, a exemplo dos pais, vivem em nosso país, onde exercem seus ministérios. A missionária Virgínia Clare Gartrell, mora em Sorocaba/SP, onde trabalha no Bethel Casas Lares, um centro de reabilitação de crianças e adolescentes. O Rev. David Gordon Gartrell, com sua esposa Dorotéia e filhos, moram em Governador Mangabeira/BA e pastoreiam a Igreja Presbiteriana Independente.</p>
    <p>Os outros filhos: Richard C. Gartrell, Ellen Baskervill Gartrell e Joyce Gartrell, moram nos Estados Unidos. Este nobre casal, desenvolveu elogiável trabalho em seus campos missionários, deixando valioso legado para as igrejas brasileiras e para centenas de irmãos e amigos com os quais conviveram no longo período que aqui permaneceram, até regressarem ao seu país de origem. Um importante legado, que pela sua relevância para o Instituto Gartrell deve-se aqui registrar, refere-se ao amoroso modo com que estes irmãos tratavam com as pessoas em geral, sem distinção de cor, formação ou classe social.</p> 
    <p>Dentro de suas possibilidades, sempre demonstravam disposição objetiva em acolher e amparar os que os procuravam em suas diversas necessidades, seja no âmbito pastoral ou assistencial. E isto faziam com discrição e singeleza de coração. Exemplo disto, cita-se a singular generosidade do casal para com a sua assistente doméstica, a Sra. Luzia Alves Botelho. O amparo e favorecimento a esta, estendeu-se para além do domínio pastoral. O casal Gartrell, sempre demonstrou graciosidade em ajudá-la no plano material, até mesmo quando esta constituiu sua própria família. Também foi alvo de seu apoio, a filha Elóide A. A. Botelho, ao subsidiarem integralmente seus estudos no Instituto Bíblico Eduardo Lane, em Patrocínio/MG, nos anos de 1986 a 1989.</p> 
    <p>Como expressão de gratidão a Deus pela preciosa vida e pelo longo ministério destes irmãos entre o povo brasileiro, encorajados pelo seu testemunho de vida e trabalho e inspirados neste louvável legado, os sócios fundadores, Elóide A. A. Botelho (Psicóloga/Neuropsicóloga - CRP 09/3124) e Miguel Augusto Rios (Psiquiatra - CRM GO/7415), com igual entendimento, decidiram no dia 22 de julho de 2015, identificar social e comercialmente de Instituto Gartrell, o trabalho ali iniciado, com vistas a no tempo devido sagrar-se empresa, na cidade de Goiânia, conforme seu Plano de Negócios. Concebido para trabalhar com pessoas e a serviço delas no segmento da saúde, educação e cidadania, o nome Instituto Gartrell refere-se, portanto, a uma distinta homenagem, uma menção de honra ao casal Gartrell e objetiva unicamente servir de inspiração para este Instituto, realizar seu trabalho, junto a seus clientes internos e externos.</p>
    <p>Esta voluntária iniciativa levada aos filhos do casal Gartrell, foi por todos eles prontamente acolhida e aprovada por meio de documento assinado e protocolado nos respectivos cartórios de suas residências. Esta unânime permissão dos filhos, é mais um elevado gesto de generosidade próprio da família Gartrell. O que grandemente encoraja e desafia este Instituto, a zelar por esta concessão, bem como pelo patrimônio moral, cultural, social e espiritual que envolve esta família. À família Gartrell, portanto, a nossa mais profunda admiração, estima e gratidão.</p>
    <p>
        Instituto Gartrell, Goiânia/GO, Brasil<br>
        22 de Julho de 2015
    </p>

    <p>
        <b>“Vivemos daquilo que conseguimos, mas, aquilo que damos é o que nos dá vida”</b><br>
        (Jonh Mawell)
    </p>

    <p>
        <b>“Seja Deus gracioso para conosco, e nos abençoe, e faça resplandecer sobre nós o rosto”</b><br>
        (Escritura Sagrada, Salmo 67.1)
    </p>
</div>