<ng-container [ngTemplateOutlet]="inverse? inverted: normal"></ng-container>
<ng-template #normal>
    <div class="evento-container my-4">
        <div class="eventBanner" [ngStyle]="{backgroundImage: 'url(' + evento.banner + ')' }"></div>
    
        <div>
            <div class="evento-info">
                <div class="data border border-3 d-flex align-items-center flex-column mb-2">
                    <span class="text-secondary">{{ evento.dia }}</span>
                    <p class="text-dark">{{ evento.mes }}</p>
                </div>
    
                <div>
                    <h4>{{ evento.titulo }}</h4>
                    <h6>{{ evento.descricao }}</h6>
                </div>
            </div>
    
            <button class="btn btn-light btn-lg">
                <i class="bi bi-plus-circle"></i> Ver mais
            </button>
        </div>
    </div>
</ng-template>

<ng-template #inverted>
    <div class="evento-container-reverse my-4">
        <div>
            <div class="evento-info">
                <div class="data border border-3 d-flex align-items-center flex-column">
                    <span class="text-secondary">{{ evento.dia }}</span>
                    <p class="text-dark">{{ evento.mes }}</p>
                </div>
    
                <div>
                    <h4>{{ evento.titulo }}</h4>
                    <h6>{{ evento.descricao }}</h6>
                </div>
            </div>
    
            <button class="btn btn-light btn-lg">
                <i class="bi bi-plus-circle"></i> Ver mais
            </button>
        </div>
    
        <div class="eventBanner" [ngStyle]="{backgroundImage: 'url(' + evento.banner + ')' }"></div>
    </div>
</ng-template>
