<ng-container [ngTemplateOutlet]="inverse? inverted: normal"></ng-container>
<ng-template #normal>
    <div class="evento-container my-4">
        <div class="eventBanner" [ngStyle]="{backgroundImage: 'url(' + evento.thumbnail + ')' }"></div>
    
        <div>
            <div class="evento-info">
                <div class="data border border-3 d-flex align-items-center flex-column mb-2">
                    <span class="text-secondary">{{ evento.data_evento | brDate | date: 'dd' }}</span>
                    <p class="text-dark">{{ evento.data_evento | brDate | date: 'MMMM' }}</p>
                </div>
    
                <div>
                    <h4>{{ evento.titulo }}</h4>
                    <div id="{{ 'resumoContent' + evento.id }}"></div>
                </div>
            </div>
    
            <a [href]="'acontece/details/' + evento.id" class="btn btn-light btn-lg">
                <i class="bi bi-plus-circle"></i> Ver mais
            </a>
        </div>
    </div>
</ng-template>

<ng-template #inverted>
    <div class="evento-container-reverse my-4">
        <div>
            <div class="evento-info">
                <div class="data border border-3 d-flex align-items-center flex-column mb-2">
                    <span class="text-secondary">{{ evento.data_evento | brDate | date: 'dd' }}</span>
                    <p class="text-dark">{{ evento.data_evento | brDate | date: 'MMMM' }}</p>
                </div>
    
                <div>
                    <h4>{{ evento.titulo }}</h4>
                    <div id="{{ 'resumoContent' + evento.id }}"></div>
                </div>
            </div>
    
            <a [href]="'acontece/details/' + evento.id" class="btn btn-light btn-lg">
                <i class="bi bi-plus-circle"></i> Ver mais
            </a>
        </div>
    
        <div class="eventBanner" [ngStyle]="{backgroundImage: 'url(' + evento.thumbnail + ')' }"></div>
    </div>
</ng-template>
